Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

In [ ]:
import sqlite3

# Create database temperature_records
conn = sqlite3.connect('temperature_records.db')


cursor = conn.cursor()

# Create table
cursor.execute('''
    CREATE TABLE weather (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
''')



conn.commit()
conn.close()

In [3]:
data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

# Insert the data into the weather table
cursor.executemany('INSERT INTO weather (id, recordDate, temperature) VALUES (?, ?, ?)', data)

In [14]:
cursor.execute('''SELECT id
FROM (
    SELECT id, temperature, LAG(temperature) OVER (ORDER BY recordDate) AS prev_temperature
    FROM weather
) AS temp_data
WHERE temperature > prev_temperature;''')  # query to check the previous temperature stored in prev_temperature

In [15]:
for i in cursor.fetchall():
    ids = i[0]
    print(ids)

2
4